<h3>Категории новостей</h3>
<br>
<div>

    <a href="/admin/category/add/"><button class="btn btn-sm btn-success">Добавить новость</button></a>

</div>
<br>
<table class="table table-striped" style="ьwidth:400px">
    <?php foreach($data['category'] as $category_data){?>
    <tr>
        <td> <b><?=$category_data['name_category'] ?></b></td>
        <td class="right">
            <a href="/admin/category/edit/<?=$category_data['id_category'] ?>"><button class="btn btn-sm btn-primsry">Редактировать</button></a>
            <?php if(Session::get('role') == 'admin'){ ?>
                <a href="/admin/category/delete/<?=$category_data['id_category'] ?>"
                   onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">Удалить</button></a>
            <?php } ?>
        </td>
    </tr>
    <?php } ?>
</table>



