<h3>Редактор дизайна сайта</h3></br>
 <p>Для изменения цвета введите такие из существующих цветов:
     Azure,
     yellowgreen,
     limegreen,CadetBlue</p>

<form action="" method="POST" >

    <div class="form-group">
        <label for="color_head">Фон шапки сайта</label>
        <input type="text" id="color_head" name="color_head" value="<?=$data['color'][0]['color_head']?>" class="form-control" />
    </div>
    <div class="form-group">
        <label for="color_container">Фон тела сайта</label>
        <input type="text"  id="color_container" name="color_container" value="<?=$data['color'][0]['color_container']?>"class="form-control"/>
    </div>
    <input type="submit" name="submit"class="btn btn-success" value="Сохранить" />
</form>