<h2 style="color: #3e8f3e">Вітаємо Вас на сайті ОСББ «Будинок мрій»!</h2>
<p class="lead text-muted size18">Цей сайт створено для інформування мешканців будинку, розташованого за адресою:
    м. Київ, проспект Героїв Сталінграда, 55, про діяльінсть ОСББ «Будинок мрій», а також для обміну думками та пропозиціями щодо поліпшення умов проживання у нашому житловому комплексі.
</p>
<p class="lead text-muted size18">Якщо Ви вперше відвідуєте сайт, пропонуємо Вам зарєєструватися. Реєстрація дозволить ознайомитись з інформаційними сторінками сайту.
</p>
<p class="lead text-muted size18">Після реєстрації та перевірки впродовж 24 годин адміністратором сайту Вашого статусу (наприклад: мешканець будинку, член ОСББ), Вам додатково будуть надані відповідні права для роботи на сайті.
</p>
<p class="lead text-muted size18">Повідомлення про успішну реєстрацію надійте на вказану Вами електронну пошту: Реєстрація на сайті.
</p>
<p class="lead text-muted size18">Щоб мати можливість доступу до контенту, передбаченого Вашим статусом, потрібно увійти на сайт під своїм ім’ям, яке Ви вказали під час реєстрації:
</p>
<p><a href="../Registrations/"class="btn btn-lg btn-success">Вхід до сайту.</a></p>

<p class="blockquote-reverse lead text-muted size18">З повагою, правління ОСББ.</p>
<div class="row">

   <!-- <div class="col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
    </div>
    -->
</div>